html,
body {
  background: url(../img/bg.jpg) no-repeat center center;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}

#logo img {
  padding-top: 20px;
}

#intro p {
  color: #fff;
  text-align: center;
  font-family: 'Just Another Hand', cursive;
  font-size: 1.8em;
}

#counter .countdown {
  text-align: center;
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin: -15px 0 0;
}